# Dependencies
node_modules/

# Environment variables
.env

# Build output
dist/

# Prisma
prisma/dev.db
prisma/dev.db-journal

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
